@charset "utf-8";
/** AP Images CSS - Created by: Rafael De Jongh

Table of Content
----------------
- Global
- Navigation
- Content
  - Drop-zone
  - Magnific Popup
- Forms
- Google Ads
- FadeInOnLoad
- Footer
- Media Queries
- Links
- Scrollbar
- Selection
----------------
Global
-------------*/
body{
	width:100%;
	min-height:100%;
	background-color:#222;
	color:#eee;
}
/*Navigation
-------------*/
header{
	display:block;
	margin:auto;
	padding:2em 5%;
}
#home{
	display:block;
	border:none
}
#home h1{
	position:relative;
	left:50px;
	top:5px;
	float:left;
	font-variant:small-caps;
	display:inline-block;
	font-weight:400;
	font-size:1.5em;
	width:auto;
	margin:0;
	-webkit-transition:opacity .3s ease-in-out;
	   -moz-transition:opacity .3s ease-in-out;
	     -o-transition:opacity .3s ease-in-out;
	        transition:opacity .3s ease-in-out
}
#home:hover h1{color:#fff}
#home h1:before{
	content:"";
	display:inline-block;
	width:50px;
	height:50px;
	background-image:url("../images/AP-Images-Logo.png");
	background-image:url("../images/AP-Images-Logo.svg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	left:-55px;
	top:-16px
}
nav{
	height:100%;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	font-size:1.2em;
}
nav a{margin-left:4%;padding-bottom:.5em;border-bottom:3px solid rgba(0,0,0,0)}
nav a:hover{border-bottom:3px solid #eee}
nav a.active{border-bottom:3px solid #eee}
nav a.active:hover{border-color:#fff}
/*Content
-------------*/
#title{
	text-align:center;
	margin-bottom:1em;
}
main{
	position:relative;
	margin:3em auto;
	padding:0 5%;
	width:100%;
	min-height:calc(100% - 22em);
	height:auto;
}
section{min-height:100%;height:auto}
.uploadImage{padding-top:10vh}
.uploadImgSec{
	clear:both;
	width:100%;
}
.uploadImgSec:not(:first-child){
	margin-top:1em;
	padding-top:1em;
	border-top:1px solid #2b2b2b
}
.uploadedImages{margin-top:2em}
.uploadedImages a.uploadedImg{
	width:30%;
	height:26.66vw;
	display:block;
	border:none;
	float:left;
}
.uploadedImages a img{
	width:100%;
	height:100%;
	object-fit:cover;
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
}
aside.urlInfo{
	display:flex;
	margin-left:3em;
	align-items:center;
	justify-content:center;
	height:26.66vw;
	flex-direction:column;
}
aside .URLBox{
	top:0;
	margin-bottom:8px;
}
.URLBox h3{font-size:20px}
.URLBox h3 .extlUrl{font-size:18px}
.recentUploads{display:inline-block}
.recentUploads a{
	float:left;
	width:16.666%;
	height:14.9vw;
	border:none;
}
.recentUploads a img{
	width:100%;
	height:100%;
	object-fit:cover;
}
/*Drop-zone
-------------*/
.dropzone{
	/*border:2px dashed #900;*/
	border:2px dashed #aaa;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	background:#333;
	-webkit-transition:background .3s ease;
	   -moz-transition:background .3s ease;
	     -o-transition:background .3s ease;
	        transition:background .3s ease
}
.dropzone:hover{background:#353535}
.dropzone .dz-preview.dz-image-preview{background:transparent}
.dz-default.dz-message{margin:3em 0 2em}
.dz-message p{
	font-size:1.1em;
	padding-top:6px;
}
.dz-message span{
	color:#999;
	font-size:.85em;
	display:block;
	margin-top:6px;
}
.dropzone .dz-preview .dz-image{
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px
}
.dropzone .fallback{margin:auto;text-align:center}
.fallback p{
	margin:.5em 0;
	color:#bbb;
	font-size:.9em;
}
.fallback input{margin-top:.5em}
/*Magnific Popup
--------------*/
.mfp-title{
	padding:5px 0 0;
	cursor:pointer;
}
.extlUrl{
	margin:0 10px 0 5px;
	border:none
}
img.mfp-img{
	min-width:40vw;
	object-fit:cover;
}
.URLBox{
	display:inline;
	position:relative;
	top:-2px;
}
input.URLinfo{
	width:15vmax;
	min-width:200px;
	text-overflow:ellipsis;
	border:none;
	border:1px solid transparent;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.1);
	background-color:#1f1f1f;
	outline:0;
	box-sizing:border-box;
	padding:5px 10px;
	font-size:.9em;
	resize:none;
	color:#eee;
	letter-spacing:.02em;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.mfp-figure:after{
	box-shadow:none;
	background:none
}
.mfp-close{
	cursor:pointer!important;
	color:#999!important;
	-webkit-transition:all .3s ease;
	   -moz-transition:all .3s ease;
	     -o-transition:all .3s ease;
	        transition:all .3s ease
}
.mfp-close:hover,.mfp-close:focus{color:#aaa!important}
.mfp-arrow:after{display:none!important}
.mfp-arrow{
	-webkit-transition:all .3s ease;
	   -moz-transition:all .3s ease;
	     -o-transition:all .3s ease;
	        transition:all .3s ease;
	z-index:999999!important
}
.mfp-arrow-left:before,.mfp-arrow-right:before{
	border:none;
	font-family:"FontAwesome";
	color:#eee;
	font-size:5em;
}
.mfp-arrow-left:before{content:"\f104"}
.mfp-arrow-right:before{content:"\f105"}
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{
	opacity:0;
	-webkit-backface-visibility:hidden;
	-webkit-transition:all .4s ease-out;
	   -moz-transition:all .4s ease-out;
		 -o-transition:all .4s ease-out;
			transition:all .4s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}
.mfp-with-zoom.mfp-ready.mfp-bg{opacity:.8}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0}
/*Forms/Buttons
--------------*/
.button,input[type="submit"]{
	padding:5px 10px 6.5px;
	background-color:#900;
	color:#eee;
	font-size:.9em;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	-webkit-transition:background .3s ease;
	   -moz-transition:background .3s ease;
	     -o-transition:background .3s ease;
	        transition:background .3s ease
}
::-webkit-file-upload-button{
	padding:5px 10px 6.5px;
	background-color:#900;
	color:#eee;
	font-size:.9em;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	-webkit-transition:background .3s ease;
	   -moz-transition:background .3s ease;
	     -o-transition:background .3s ease;
	        transition:background .3s ease
}
.button:hover,input[type="submit"]:hover{background:#b30000}
::-webkit-file-upload-button:hover{background:#b30000}
input:focus{border-color:#900}
.fallback input[type="submit"],.copyURL{
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
::-webkit-file-upload-button{font-size:1em}
.fallback ::-webkit-file-upload-button{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	padding-bottom:7px;
}
.fallback input[type="file"]{
	background-color:#1f1f1f;
	padding:0 20px 0 0;
	margin-right:-5px;
	width:25em;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
/*Google Ads
-------------*/
.supportUS{
	display:block;
	width:auto;
	height:inherit;
	max-width:728px;
	max-height:90px;
	background:#1f1f1f;
	margin:0 auto 20px;
	overflow:hidden;
	text-align:center;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
}
.supportUS:before{
	/*content:"Please support us by whitelisting our website in your AdBlocker!";
	text-transform:capitalize;
	text-align:center;*/
	content:"";
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	width:100%;
	height:inherit;
	max-width:728px;
	max-height:90px;
	background-image:url("../images/support/supportUS.png");
	background-image:url("../images/support/supportUS.svg");
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center center
}
.adsbygoogle{
	background:#1f1f1f;
	overflow:hidden;
	text-align:center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
/*FadeInOnLoad
------------------*/
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
   @-moz-keyframes fadeIn{from{opacity:0}to{opacity:1}}
        @keyframes fadeIn{from{opacity:0}to{opacity:1}}
.supportUS:before{
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	   -moz-animation:fadeIn ease-in 1;
	        animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	-webkit-animation-duration:.5s;
	   -moz-animation-duration:.5s;
	        animation-duration:.5s;
	-webkit-animation-delay:2s;
	   -moz-animation-delay:2s;
	        animation-delay:2s;
}
/*Footer
-------------*/
footer{
	text-align:center;
	width:100%;
	height:auto;
	padding:1em;
	position:relative;
}
/*MediaQueries
------------------*/
@media screen and (min-width:1400px){
	.recImg:nth-last-of-type(-n+2){display:none}
}
@media screen and (max-width:1400px){
	section.recentUploads a{width:20%;height:18vw}
}
@media screen and (max-width:1100px){
	section.recentUploads a{width:25%;height:22.3vw}
}
@media screen and (max-width:980px){
	aside.urlInfo{flex-flow:column wrap}
	aside .URLBox{flex-basis:8.5vw}
}
@media screen and (max-width:850px){
	aside .URLBox:nth-child(n+2){display:none}
}
@media screen and (max-width:800px){
	section.recentUploads a{width:33.333%;height:29.5vw}
	.recImg:nth-last-of-type(-n+2){display:none}
}
@media screen and (max-width:700px){
	.recImg:nth-last-of-type(-n+2){display:block}
	section.recentUploads a{width:50%;height:44vw}
}
@media screen and (max-width:500px){
	section.recentUploads a{width:100%;height:88vw}
	a.extlUrl{
		display:inline-block;
		margin:0;
		text-align:center;
	}
	.mfp-title a.extlUrl{
		top:-25px;
		left:8px;
		position:relative;
	}
	.mfp-title .URLBox{top:-18px}
	.URLBox{
		display:block;
		width:100%;
	}
	.URLBox h3{margin-left:5px}
	aside.urlInfo{
		margin:0;
		flex-wrap:wrap;
	}
	input.URLinfo{
		width:100%;
		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
		        border-radius:3px;
		margin:0 5px 0;
	}
	button.copyURL{
		width:100%;
		-webkit-border-radius:3px;
		   -moz-border-radius:3px;
		        border-radius:3px;
		margin:3px 5px;
	}
	.mfp-title{
		margin-top:0;
		padding:0 10px 0 0;
	}
	.mfp-counter{
		top:-24px;
		right:8px;
		text-shadow:1px 1px 0 rgba(0,0,0,.5);
	}
	input.URLinfo{min-width:auto}
}
@media screen and (max-width:420px){
	#home{
		margin:-5px auto 33px -50px;
		text-align:center;
	}
	#home h1{
		float:none;
		top:0;
	}
	nav{justify-content:center}
	nav a{
		font-size:1.3em;
		display:inline-block;
	}
	.uploadImage{padding:0}
	main{margin:1.5em auto}
}
/*Links
-------------*/
a,a:visited{
	color:#eee;
	text-decoration:none;
	-webkit-transition:all .3s ease;
	   -moz-transition:all .3s ease;
	     -o-transition:all .3s ease;
	        transition:all .3s ease;
	border-bottom:1px solid #eee;
}
a:active,a:hover{
	color:#fff;
	border-color:#fff
}
/*Scrollbar
-------------*/
::-webkit-scrollbar{width:12px;height:12px}
::-webkit-scrollbar-corner{background-color:#121212}
::-webkit-scrollbar-track{background-color:#121212}
::-webkit-scrollbar-thumb{background:#333}
::-webkit-scrollbar:horizontal{height:12px}
/*Selection
-------------*/
::-moz-selection{color:#fff;background-color:#900}
     ::selection{color:#fff;background-color:#900}